PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE stores (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            seller_id INTEGER,
            name TEXT UNIQUE NOT NULL,
            city TEXT,
            rating REAL,
            description TEXT,
            image_url TEXT
        );
INSERT INTO stores VALUES(1,2,'MegaWorks1','Yogyakarta',4.5999999999999996447,'Welcome to MegaWorks1! We are a premium store located in Yogyakarta providing top-tier products.','https://images.unsplash.com/photo-1472851294608-062f824d29cc?auto=format&fit=crop&w=300&q=80');
INSERT INTO stores VALUES(2,2,'SuperMarket2','Surabaya',4.5,'Welcome to SuperMarket2! We are a premium store located in Surabaya providing top-tier products.','https://images.unsplash.com/photo-1472851294608-062f824d29cc?auto=format&fit=crop&w=300&q=80');
INSERT INTO stores VALUES(3,2,'ZenMarket3','Semarang',4.5999999999999996447,'Welcome to ZenMarket3! We are a premium store located in Semarang providing top-tier products.','https://images.unsplash.com/photo-1441986300917-64674bd600d8?auto=format&fit=crop&w=300&q=80');
CREATE TABLE products (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            store_id INTEGER,
            name TEXT,
            description TEXT,
            price REAL,
            stock INTEGER,
            image_url TEXT, category TEXT DEFAULT 'electronics',
            FOREIGN KEY(store_id) REFERENCES stores(id)
        );
INSERT INTO products VALUES(10260,10,'Ultra Headphones','A high-quality ultra headphones tailored for your needs.',16000000.0,200,'https://images.unsplash.com/photo-1505740420928-5e560c06d30e?w=800&q=80','electronics');
INSERT INTO products VALUES(10261,62,'Pro Laptop','A high-quality pro laptop tailored for your needs.',15970000.0,134,'https://images.unsplash.com/photo-1517336714731-489689fd1ca8?w=800&q=80','electronics');
INSERT INTO products VALUES(10262,70,'4K Monitor','A high-quality 4k monitor tailored for your needs.',15620000.0,98,'https://images.unsplash.com/photo-1527443224154-c4a3942d3acf?w=800&q=80','electronics');
CREATE TABLE wishlist (
        user_id INTEGER NOT NULL,
        product_id INTEGER NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (user_id, product_id),
        FOREIGN KEY (product_id) REFERENCES products(id)
    );
CREATE TABLE product_reviews (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        product_id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        username TEXT NOT NULL,
        rating INTEGER NOT NULL CHECK (rating >= 1 AND rating <= 5),
        comment TEXT,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (product_id) REFERENCES products(id)
    );
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('stores',100);
INSERT INTO sqlite_sequence VALUES('products',10499);
COMMIT;
