PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE cart_items (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            user_id INTEGER,
            product_id INTEGER,
            qty INTEGER
        );
CREATE TABLE orders (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            user_id INTEGER,
            store_id INTEGER,
            total_price REAL,
            delivery_fee REAL,
            payment_method TEXT,
            status TEXT DEFAULT 'Sedang Dikemas',
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        , driver_id INTEGER);
CREATE TABLE order_items (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            order_id INTEGER,
            product_id INTEGER,
            qty INTEGER,
            price_at_time REAL,
            FOREIGN KEY(order_id) REFERENCES orders(id)
        );
CREATE TABLE app_reviews (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            rating INTEGER NOT NULL,
            comment TEXT NOT NULL,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO app_reviews VALUES(1,'Gracia',5,'Like Amazon, but green! Love it.','2026-06-27 09:04:25');
INSERT INTO app_reviews VALUES(2,'Budi',4,'Very fast and responsive.','2026-06-27 09:04:25');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('app_reviews',2);
COMMIT;
