PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            username TEXT UNIQUE NOT NULL,
            password TEXT NOT NULL
        );
INSERT INTO users VALUES(1,'buyer','$2b$12$6MS.n2o7FVO3dkV2nXBhDOu3DSOb9U2b4njKaitw7SqTu8PMvv/e6');
INSERT INTO users VALUES(2,'seller','$2b$12$6MS.n2o7FVO3dkV2nXBhDOu3DSOb9U2b4njKaitw7SqTu8PMvv/e6');
INSERT INTO users VALUES(3,'driver','$2b$12$6MS.n2o7FVO3dkV2nXBhDOu3DSOb9U2b4njKaitw7SqTu8PMvv/e6');
CREATE TABLE user_roles (
            user_id INTEGER,
            role TEXT,
            FOREIGN KEY(user_id) REFERENCES users(id)
        );
INSERT INTO user_roles VALUES(1,'Buyer');
INSERT INTO user_roles VALUES(2,'Seller');
INSERT INTO user_roles VALUES(3,'Driver');
CREATE TABLE wallets (
            user_id INTEGER PRIMARY KEY,
            balance REAL DEFAULT 0,
            FOREIGN KEY(user_id) REFERENCES users(id)
        );
INSERT INTO wallets VALUES(1,5000000.0);
INSERT INTO wallets VALUES(2,0.0);
INSERT INTO wallets VALUES(3,0.0);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('users',3);
COMMIT;
